.shuffle-parent {
    display: inline-block;
    white-space: normal;
    word-wrap: break-word;
    will-change: transform;
    line-height: inherit;
    font-size: inherit;
    font-family: inherit;
    text-transform: inherit;
}

.shuffle-char-wrapper {
    display: inline-block;
    overflow: hidden;
    vertical-align: baseline;
    position: relative;
}

.shuffle-char-wrapper>span {
    display: inline-flex;
    will-change: transform;
}

.shuffle-char {
    line-height: 1;
    display: inline-block;
    text-align: center;
}